.main-nav {
  /* margin: 20px 30px; */
  padding: 20px 30px;
  background-color: grey;
  color: white;

  display: flex;
  justify-content: space-between;
}
.homepage-imgs img {
  width: 33%;
}
